<link rel='stylesheet' href="/public/admin/css/base.css">
<link rel='stylesheet' href="/public/admin/css/bootstrap.min.css">

<div class="panel panel-default">
    <div class="panel-heading">
        修改广告
    </div>
    <div class="panel-body">
        <div class="table-responsive input-form">
            <form action="/admin/advertise/doEdit?_csrf={{csrf}}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="_id" value="{{advertises._id}}">
                <ul>
                    <li> <span>分　　类:</span>
                        <select name="ads_type" id="ads_type">
                            <option value="1" {% if advertises.ads_type == 1 %} selected {% endif %}>网站</option>
                            <option value="2" {% if advertises.ads_type == 2 %} selected {% endif %}>App</option>
                            <option value="3" {% if advertises.ads_type == 3 %} selected {% endif %}>小程序</option>
                        </select> </li>
                    <li> <span>名　　称:</span> <input type="text" name="ads_title" value="{{advertises.ads_title}}" /></li>
                    <li> <span>跳转地址:</span> <input type="text" name="ads_link" value="{{advertises.ads_link}}" /></li>
                    <li> <span>广 告 图:</span> <input type="file" name="ads_img" />
                        <img src="{{helper.url200(advertises.ads_img)}}" style=" width: 30px; height: 30px; "></li>
                    <li> <span>位　　置:</span>
                        <select name="ads_position" id="ads_position">
                            <option value="1" {% if advertises.ads_position == 1 %} selected {% endif %}>上</option>
                            <option value="2" {% if advertises.ads_position == 2 %} selected {% endif %}>中</option>
                            <option value="3" {% if advertises.ads_position == 3 %} selected {% endif %}>左</option>
                            <option value="4" {% if advertises.ads_position == 4 %} selected {% endif %}>右</option>
                            <option value="5" {% if advertises.ads_position == 5 %} selected {% endif %}>下</option>
                        </select>
                    </li>
                    <li> <span>排　　序:</span> <input type="text" name="data_sort" value="{{advertises.data_sort}}" /></li>
                    <li> <span>状　　态:</span>
                        <input type="radio" name="ads_status" value="1" id="a" {% if advertises.ads_status == 1 %}
                            checked {% endif %} /> <label for="a">显示</label>
                        <input type="radio" name="ads_status" value="0" id="b" {% if advertises.ads_status == 0 %}
                            checked {% endif %} /> <label for="b">隐藏</label> 　
                    </li>
                    <li>
                        <br />
                        <button type="submit" class="btn btn-default">提交</button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>